<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link href="~/Settings/mainlogooo.png" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Icons/Workforce.jpg" />
    <title>@ViewData["Title"]  -The Micropoint Systems.</title>

    <environment include="Development">
        <style>
            .castomtextbox {
                padding: 8px;
                color: black;
                width: 100%;
                margin-top: 8px;
                background-color: #cad0fa;
                border: none;
                border-radius: 8px;
            }

            .castombuttonnn {
                padding: 8px;
                color: #1029de;
                width: 100%;
                margin-top: 8px;
                background-color: white;
                border: solid 2px #1029de;
                border-radius: 8px;
            }
        </style>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container">
      
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
